@model WebApplication2.Models.StudyPlan

@{
    ViewBag.Title = "Details";
}


<div>
    <div id="pad" class="row">
        <div class="col-md-1">
            <img src="~/Content/images/Studyplan.png" width="350" height="150" />
        </div>
        <div class="col-md-7 col-md-offset-2" style="color :forestgreen">
            <h3>Preliminary Study Plan</h3>
            <hr />
            <div class="col-md-3"><dl class="dl-horizontal">
    <dt> <h4>
        Semester</h4>
    </dt>
    <dt>
        Fall
    </dt>

                                      <dt>
                                          Fall
                                      </dt>

                                      <dt>
                                          Fall
                                      </dt>
                                      <dt>
                                          Spring
                                      </dt>

                                      <dt>
                                          Spring
                                      </dt>

                                      <dt>
                                          Spring
                                      </dt>

                                      <dt>
                                          Spring
                                      </dt>

                                      <dt>
                                          Fall
                                      </dt>

                                      <dt>
                                          Fall
                                      </dt>

                                      <dt>
                                          Fall
                                      </dt>
</dl>
            </div>
            <div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt> <h4>
    Course No.
</h4></dt>
                    <dt>
                        CS-513
                    </dt>


                    <dt>
                        CS-545
                    </dt>

                    <dt>
                        CS-561
                    </dt>

                    <dt>
                        CS-522
                    </dt>

                    <dt>
                        CS-562
                    </dt>

                    <dt>
                        CS-574
                    </dt>

                    <dt>
                        CS-548
                    </dt>
                    <dt>
                        CS-526
                    </dt>

                    <dt>
                        CS-549
                    </dt>

                    <dt>
                        CS-501
                    </dt>

            </dl>
            </div>
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt><h4>
    Course Name
</h4></dt>
                    <dt> Data Mining </dt>

                    <dt>HCI</dt>

                    <dt>DBMS 1</dt>

                    <dt>Mobile Systems </dt>

                    <dt>DBMS 2</dt>

                    <dt>DBMS 1</dt>

                    <dt>Enterprise Design </dt>

                    <dt>Distributed Could </dt>

                    <dt>Enterprise Security</dt>
                    <dt>Java</dt>

                </dl>
            </div>
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt><h4>
                        Credits</h4>
                    </dt>
                    <dt>
                        3.0
                    </dt>
                    <dt>
                        3.0
                    </dt>

                    <dt>
                        3.0
                    </dt>

                    <dt>
                        3.0
                    </dt>


                    <dt>
                        3.0
                    </dt>

                    <dt>
                        3.0
                    </dt>

                    <dt>
                        3.0
                    </dt>

                    <dt>
                        3.0
                    </dt>

                    <dt>
                        3.0
                    </dt>

                    <dt>
                        3.0
                    </dt>
                </dl>
            </div>
            @*<div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Semester)
                    </dt>

                    <dd>
                        <p> Fall</p>
                    </dd>
                    <dd>
                        <p> Fall</p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CourseName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CourseName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Credits)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Credits)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CourseNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CourseNumber)
                    </dd>

                </dl>

            </div>*@
            </div>
       
        </div>
    <div class="col-md-offset-6" style="padding:20px">
        <p>
             @Html.ActionLink("Back to Dashboard", "Create", "Dashboard")
        </p>
    </div>   
        </div>
    
