@model WebApplication2.Models.profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="Leftpad">
    <h4>profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) 
    @Html.ActionLink("Back to List", "Index")
</p>*@
